<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card w-100 border-0">
    <div class="row card-header mx-3 align-items-center border-0"> <!-- border border-danger-->

    <!--***** COLUMNA IZQUIERDA CON LA IMAGEN DEL LOGO *****-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center align-items-center logo-login">
      <img src="../../../assets/logo-login.png" class="img-fluid img" alt="...">
    </div>

    <!-- ***** COLUMNA DERECHA CON EL FORMUALRIO ***** -->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
      <div class="d-flex flex-column align-items-center">
        <div class="card-body col-sm-12 col-md-6 col-lg-6 col-xl-6">


        <div class="d-flex align-items-center mb-5">
          <div class="col-md-5 me-3">
            <img src="../../../assets/icon-phone-alt.svg" class="img-fluid float-end" width="15%" alt="...">
          </div>
          <div class="col-md-7 ">
            <h5 class="poppins-bold">ABCall</h5>
          </div>
        </div>



          <!-- <div class="mb-5 text-center">
            <div class="row">
              <div class="col-md-6 d-inline-flex gap-1 border border-danger">
                <img src="../../../assets/icon-phone-alt.svg" class="img-fluid rounded-start" width="15%" alt="..." data-bs-toggle="collapse">
              </div>
              <div class="col-md-6 d-flex float-start border border-black">

                  <h5 class="poppins-bold" data-bs-toggle="collapse">ABCall</h5>

              </div>
            </div>
          </div> -->

          <form>
            <div class="col-sm-8 col-md-10 col-lg-10 col-xl-12">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" autofocus placeholder="Introduzca su dirección de correo electrónico">
                <label for="floatingInput" class="form-label">Correo electrónico</label>
              </div>
            </div>

            <div class="col-sm-8 col-md-10 col-lg-10 col-xl-12">
              <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Ingrese su contraseña">
                  <label for="floatingPassword" >Contraseña</label>
              </div>
            </div>

              <div class="mb-3 form-check">
                <div class="rounded float-end">
                  <input type="checkbox" class="form-check-input" id="check">
                  <label class="form-check-label" for="check">Recordar inicio de sesión</label>
                </div>
              </div>

            <div class="d-grid gap-2 mt-5">
              <button type="submit" class="btn btn-login">Iniciar sesión</button>
            </div>

            <div class="row">
              <div class="col">
                  <a href="#" class="rounded float-start text-decoration-none">¿Olvido su Contraseña?</a>
              </div>
              <div class="col">
                  <a href="#" class="rounded float-end text-decoration-none">Inscribirse</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- ***** PIE DE PAGINA DE LA TARJETA *****   -->
        <div class="card-footer d-flex fixed-bottom  justify-content-end border-0">
          <div class="row align-items-center p-2 text-center">
            <div class="col">
              <a href="#" class="text-decoration-none">Términos y condiciones</a>
            </div>
            <div class="col">
              <a href="#" class="text-decoration-none">política de privacidad</a>
            </div>
            <div class="col">
              <a href="#" class="text-decoration-none">Contacto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
