<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card w-100 border-0">
    <div class="row card-header mx-3 align-items-center border-0">

      <!--***** COLUMNA IZQUIERDA CON LA IMAGEN DEL LOGO *****-->
      <div class="col-4 d-flex justify-content-center align-items-center logo-login">
        <img src="../../../assets/logo-login.png" class="img-fluid img" width="30" alt="...">
      </div>

      <!-- ***** COLUMNA DERECHA CON EL FORMUALRIO ***** -->
      <div class="col-8">
        <div class="d-flex flex-column align-items-center">
          <div class="card-body col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <!-- ***** CABECERA ***** -->
            <div class="d-flex align-items-center mb-5">
              <div class="col-md-5 me-3">
                <img src="../../../assets/icon-phone-alt.svg" class="img-fluid float-end" width="30" alt="...">
              </div>
              <div class="col-md-7 ">
                <h5 class="poppins-bold">ABCall</h5>
              </div>
            </div>

            <!-- ***** FORMULARIO ***** -->
            <form>
              <div>
                <label for="">Usuario</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="username" class="form-control" id="floatingInput" autofocus
                  placeholder="Introduzca su nombre de usuario">
                <label for="floatingInput" class="form-label">Ingresa aquí tu nombre de usuario</label>
              </div>

              <div>
                <label for="">Correo electrónico</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" autofocus
                  placeholder="Introduzca su dirección de correo electrónico">
                <label for="floatingInput" class="form-label">Ingresa aquí tu correo electrónico</label>
              </div>

              <div>
                <label for="">Contraseña</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Ingrese su contraseña">
                <label for="floatingPassword">Ingresa aquí tu contraseña</label>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Debe tener entre 8 y 20 caracteres.
                  </span>
                </div>

              </div>

              <div class="col-12 form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirme su contraseña">
                <label for="floatingPassword">Confirma tu contraseña</label>
              </div>

              <div class="d-grid gap-2 mt-5">
                <button type="button" class="btn btn-register" onclick="window.location.href='/plans';">Crear
                  cuenta</button>
              </div>

              <div class="row">
                <div class="col">
                  <p>¿Ya tienes una cuenta?</p>
                </div>
                <div class="col">
                  <a href="/home" class="rounded float-start text-decoration-none">Ingresar</a>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- ***** PIE DE PAGINA DE LA TARJETA *****   -->

      </div>
    </div>
  </div>
</div>
