<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card w-100 border-0">
    <div class="row card-header mx-3 align-items-center border-0">

      <!--***** COLUMNA IZQUIERDA CON LA IMAGEN DEL LOGO *****-->
      <div class="col-4 d-flex justify-content-center align-items-center logo-login">
        <img src="../../../assets/logo-login.png" class="img-fluid img" width="30" alt="...">
      </div>

      <!-- ***** COLUMNA DERECHA CON EL FORMUALRIO ***** -->
      <div class="col-8">
        <div class="d-flex flex-column align-items-center">
          <div class="card-body col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <!-- ***** CABECERA ***** -->
            <div class="d-flex align-items-center mb-5">
              <div class="col-md-5 me-3">
                <img src="../../../assets/icon-phone-alt.svg" class="img-fluid float-end" width="30" alt="...">
              </div>
              <div class="col-md-7 ">
                <h5 class="poppins-bold">ABCall</h5>
              </div>
            </div>

            <!-- ***** FORMULARIO ***** -->
            <form #registerForm="ngForm" (ngSubmit)="registrar()">
              <div>
                <label for="numeroDocumento">Usuario</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="cliente.numeroDocumento"
                  autofocus
                  required
                  placeholder="Introduce tu nombre de usuario">
                <label for="numeroDocumento" class="form-label">Ingresa aquí tu número de documento</label>
              </div>

              <div class="col-12 form-floating mb-3">
                <input type="text" class="form-control" id="razonSocial" name="razonSocial" [(ngModel)]="cliente.razonSocial"
                  autofocus required placeholder="Introduce tu razón social">
                <label for="razonSocial" class="form-label">Ingresa aquí tu razón social</label>
              </div>

              <div>
                <label for="email">Correo electrónico</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="email" class="form-control" id="correo" name="correo"[(ngModel)]="cliente.correo"
                  required
                  placeholder="Introduzca su dirección de correo electrónico">
                <label for="correo" class="form-label">Ingresa aquí tu correo electrónico</label>
              </div>

              <div>
                <label for="contrasena">Contraseña</label>
              </div>
              <div class="col-12 form-floating mb-3">
                <input type="password" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="cliente.contrasena"
                  required minlength="6"
                  placeholder="Ingrese su contraseña">
                <label for="contrasena">Ingresa aquí tu contraseña</label>
                <div class="col-auto">
                  <span class="form-text">
                    Debe tener mínimo 8 caracteres e incluir al menos una letra mayúscula, una letra minúscula, un número y un caracter especial.
                  </span>
                </div>

              </div>

              <div class="col-12 form-floating mb-3">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                  required
                  placeholder="Confirme su contraseña">
                <label for="confirmPassword">Confirma tu contraseña</label>
              </div>

              <div class="d-grid gap-2 mt-5">
                <button type="submit" class="btn btn-register" [disabled]="registerForm.invalid">Crear cuenta</button>
              </div>

              <div class="row">
                <div class="col">
                  <p>¿Ya tienes una cuenta?</p>
                </div>
                <div class="col">
                  <a href="/home/login" class="text-success rounded float-start text-decoration-none">Ingresar</a>
                  <br>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- ***** PIE DE PAGINA DE LA TARJETA *****   -->

      </div>
    </div>
  </div>
</div>
