.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(209, 213, 219, 0.8);
  border-radius: 26px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}