<div class="container">
  <!-- ***** CABECERA ***** -->
  <div class="d-flex align-items-center mb-5">
    <div class="col-md-5 me-3">
      <img src="../../../assets/icon-phone-alt.svg" class="img-fluid float-end" width="30" alt="...">
    </div>
    <div class="col-md-7 ">
      <h5 class="poppins-bold">ABCall</h5>
    </div>
  </div>

  <!-- ***** PLANES ***** -->
  <div class="card-group py-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title nombre-plan nombre-plan-emprendedor">Emprendedor</h5>
            </div>
            <div class="text-center">
              <h2 class="card-text">$99.000</h2>
              <p class="card-text">/mes + incidencias</p>
              <button type="submit" class="btn btn-border-radius">Seleccionar</button>
            </div>
            <hr>
            <div class="card-text">
              <ul>
                <li>Atención telefónica personalizada para asistir a tus clientes.</li>
                <li> Agentes especializados que reciben, validan y registran cada incidente.</li>
                <li>Automatización del proceso de escalado de incidentes.</li>
                <li>Tableros de control en tiempo real para visualizar la gestión de llamadas e incidentes.</li>
                <li>Notificaciones automáticas a tus clientes al resolver sus incidentes.</li>
                <li>Consulta y registro de incidentes a través de la aplicación web.</li>
                <li>Monitoreo constante de los incidentes para actuar en situaciones críticas.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title nombre-plan nombre-plan-empresario">Empresario</h5>
            </div>
            <div class="text-center">
              <h2 class="card-text">$129.000</h2>
              <p class="card-text">/mes + incidencias</p>
              <button type="submit" class="btn">Seleccionar</button>
            </div>
            <hr>
            <div class="card-text">
              <ul>
                <li>Todo lo incluido en el plan Emprendedor.</li>
                <li>Diversos canales para que tus clientes se contacten contigo: teléfono, chatbot, app móvil y correo
                  electrónico.</li>
                <li>Llamadas salientes para encuestas de satisfacción, telemarketing, ventas o confirmación de
                  soluciones.</li>
                <li>Paneles de control avanzados con datos consolidados sobre tus operaciones: cumplimiento de metas,
                  niveles de servicio,
                  comportamiento de incidentes y tiempos de resolución.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title nombre-plan nombre-plan-empresario-plus">Empresario +</h5>
            </div>
            <div class="text-center">
              <h2 class="card-text">$149.000</h2>
              <p class="card-text">/mes + incidencias</p>
              <button type="submit" class="btn">Seleccionar</button>
            </div>
            <hr>
            <div class="card-text">
              <li>Todo lo ofrecido en el plan Empresario.</li>
              <li>Emplea modelos avanzados de analítica predictiva para analizar automáticamente cada PQR y proponer
                respuestas o
                soluciones basadas en riesgos y comportamientos anteriores.</li>
              <li>Emplea modelos avanzados de análisis predictivo para examinar automáticamente cada PQR y proponer
                respuestas o
                soluciones según riesgos y comportamientos anteriores.</li>
              <li>Supervisa indicadores predictivos clave sobre incidentes, satisfacción del cliente y tiempos de
                resolución desde un
                tablero centralizado.</li>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
