@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,400;1,600;1,700&family=Roboto:wght@100&display=swap');

:root {
  --primary-color: #96C560;
}



* {
  font-family: "Poppins", sans-serif;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: aqua;
}


/* .screen {
  background-color: #ffffff;
} */
