/* Cambia el color cuando el input esté enfocado */
select:focus~label {
  color: #47BA47;
}

select:not([value=""])~label {
  color: #47BA47;
}

.bg-header-custom {
  background-color: #47BA47;
  color: white;
}

/* Estilos personalizados para los botones principales */
.btn-principal {
  background-color: #4A954A;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-principal:hover {
  background-color: #3e7c3e;
  color: white;
}

.btn-principal:focus {
  box-shadow: 0 0 0 0.2rem rgba(74, 149, 74, 0.5);
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* color: var(--primary-color); */
  color: #96C560;
  font-size: 32px;
}
