<app-header></app-header>
<main class="container my-4">

  <!-- Gestión de Incidentes -->
  <section class="mb-4">
    <h2 class="h4 fw-semibold">Gestión de Incidentes</h2>
  </section>

  <!-- Botón Registro Incidente y Búsqueda -->
  <div class="d-flex flex-wrap gap-2 align-items-center mb-3 justify-content-between">
    <button type="button" class="btn btn-principal me-3 mb-2 flex-grow-1 flex-md-grow-0" (click)="abrirModalRegistro()">Registro incidente</button>
    <a class="text-success" href="/incidents/db-query">Base de datos empresa</a>

    <div class="input-group mb-2">
      <!-- <input type="text" class="form-control" placeholder="Buscar Incidente" [(ngModel)]="filtro.descripcion" (keyup)="obtenerIncidentes()"> -->
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <!-- Filtros -->
  <form class="row g-3 align-items-end mb-4">
    <div class="col-auto">
      <label for="fechaInicial" class="form-label">Desde</label>
      <input type="date" id="fechaInicial" class="form-control">
    </div>
    <div class="col-auto">
      <label for="fechaFinal" class="form-label">Hasta</label>
      <input type="date" id="fechaFinal" class="form-control">
    </div>
    <div class="col-auto">
      <label class="form-label d-block">Estado</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cerrado" checked>
        <label class="form-check-label" for="cerrado">Cerrado</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="abierto" checked>
        <label class="form-check-label" for="abierto">Abierto</label>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-principal">Aplicar</button>
    </div>
  </form>

  <!-- Tabla de Incidentes -->
  <p *ngIf="incidentes.length === 0">No se encontraron incidentes.</p>
  <div class="table-responsive mb-4 d-done d-md-block">
    <table class="table table-striped table-hover" *ngIf="incidentes.length > 0">
      <thead class="table-success table-header-custom">
        <tr>
          <!-- <th>#</th> -->
          <th>ID</th>
          <th>Tipo Documento Usuario</th>
          <th>Documento Usuario</th>
          <th>Documento Cliente</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Fecha de Creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidente of incidentes">
          <!-- <td>{{i + 1}}</td> -->
          <td>{{ incidente.id }}</td>
          <td>{{ incidente.tipoDocumentoUsuario }}</td>
          <td>{{ incidente.numDocumentoUsuario }}</td>
          <td>{{ incidente.numDocumentoCliente }}</td>
          <td>{{ incidente.descripcion }}</td>
          <td>{{ incidente.estado }}</td>
          <td>{{ incidente.fechaCreacion }}</td>
          <!-- <td>
            <button class="btn btn-link text-success p-0" (click)="abrirModalVerEstado(incidente)">
              Ver estado
            </button>
          </td> -->
          <td>
            <button class="btn btn-link text-success p-0" (click)="irADetalle(incidente.id.toString())">
              Ver detalle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div *ngIf="paginacion">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="paginacion.pagina == 1">
          <button class="page-link btn-paginacion"
           (click)="cambiarPagina(paginacion.pagina - 1)">
           Anterior
          </button>
        </li>

        <li class="page-item" *ngFor="let page of [].constructor(paginacion.totalPaginas); let i = index">
          <button class="page-link"
            [class.active]="paginacion.pagina === i + 1"
            (click)="cambiarPagina(i + 1)">
            {{ i + 1 }}
          </button>
        </li>

        <li class="page-item" [class.disabled]="paginacion.pagina == paginacion.totalPaginas">
          <button class="page-link btn-paginacion"
            (click)="cambiarPagina(paginacion.pagina + 1)">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Vista cards para pantallas pequeñas -->
  <div class="d-block d-md-none">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Corte de luz</h5>
        <p class="card-text"><strong>Fecha:</strong> 26/04/2025</p>
        <p class="card-text"><strong>Estado:</strong> Abierto</p>
        <a href="#" class="btn btn-success btn-sm">Ver estado</a>
      </div>
    </div>
  </div>

  <!-- Botón de Generar Reporte -->
  <div class="text-center mb-3">
    <button type="button" class="btn btn-principal flex-grow-1 flex-md-grow-0">Generar reporte</button>
  </div>

  <!-- Modal Registro Incidente -->
  <div class="modal fade" id="modalRegistroIncidente" tabindex="-1" aria-labelledby="modalRegistroLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" style="background-color: #47BA47; color: white;">
          <h5 class="modal-title" id="modalRegistroLabel">Registro de Incidente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="cliente" class="form-label">Número de documento del Usuario</label>
              <input type="number" class="form-control" id="cliente" [(ngModel)]="nuevoIncidente.numDocumentoCliente"
                name="cliente">
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción del incidente</label>
              <textarea class="form-control" id="descripcion" rows="3" [(ngModel)]="nuevoIncidente.descripcion"
                name="descripcion"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-principal" (click)="crearIncidente()">Crear</button>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal para Ver Estado -->
  <div class="modal fade" id="modalVerEstado" tabindex="-1" aria-labelledby="modalVerEstadoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" style="background-color: #47BA47; color: white;">
          <h5 class="modal-title" id="modalVerEstadoLabel">Estado del Incidente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <p><strong>ID del Incidente: </strong> #{{ incidenteSeleccionado?.id }}</p>
          <p><strong>Estado Actual: </strong> {{ incidenteSeleccionado?.estado || 'Estado no disponible' }}</p>
          <p><strong>Última actualización: </strong> {{ incidenteSeleccionado?.fechaModificacion ? (incidenteSeleccionado.fechaModificacion | date:'short') : 'Sin modificar aún' }}
          </p>

        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-principal" data-bs-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>


</main>

<app-footer></app-footer>
