<!-- ***** PIE DE PAGINA DE LA TARJETA *****   -->
<div class="card-footer d-flex fixed-bottom  justify-content-end border-0">
  <div class="row align-items-center p-2 text-center">
    <div class="col">
      <a href="#" class="text-success text-decoration-none">Términos y condiciones</a>
    </div>
    <div class="col">
      <a href="#" class="text-success text-decoration-none">política de privacidad</a>
    </div>
    <div class="col">
      <a href="#" class="text-success text-decoration-none">Contacto</a>
    </div>
  </div>
</div>
