/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,400;1,600;1,700&family=Roboto:wght@100&display=swap');

:root {
  --primary-color: #96C560;
  --hover-bg-color: #65953A;
  --gris-10: #d3d3d3;
}

* {
  font-family: "Poppins", sans-serif;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-color);
  /* color: #96C560; */
  font-size: 32px;
}

.logo-login {
  top: 0px;
  left: 0px;
  /* width: 100px; */
  height: 100vh;
  background-color: #d3d3d3;
  /* border: 5px solid green; */
}

.bttn-login,
.btn-register {
  --bs-btn-bg: #96C560;
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #65953A;
  height: 56px;
}

/* .screen {
  background-color: #ffffff;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
